<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header">
  <!-- header-transparent -->
  <div class="container d-flex justify-content-between align-items-center">

    <div class="logo">
      <h1 class="text-light"><a href="/"><span>Shuats Broadcast</span></a></h1>

    </div>

    <nav id="navbar-pk" class="navbar-pk">
      <ul>
        <li><a class="active " href="/posts" style="text-decoration:none">Home</a></li>
        
        <li class="dropdown"><a href="/profile" style="text-decoration:none"><span><%= user.fname %></span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/profile" style="text-decoration:none">Profile</a></li>
            <li><a href="/edit/<%= user._id %>" style="text-decoration:none">Update Profile</a></li>
            <li><a href="/logout" style="text-decoration:none">Logout</a></li>

          </ul>
        </li>

        <li><a href="/about" style="text-decoration:none">About</a></li>
        <li><a href="/team" style="text-decoration:none">Team</a></li>
        

      </ul>
      <i class="bi bi-list mobile-nav-toggle-pk"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<main id="main">


  <section class="services">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
      </div>
      <div class="row">
        <p><b><em>Shuats Broadcast</em></b> 

        </p>
      </div>

    </div>
  </section>

</main>
<!-- ======= Footer ======= -->



<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


  <div class="footer-top" style="padding-top: 20px;padding-bottom: 0px;border-bottom-width: 0px;">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 footer-contact">
          <h4>Contact Us</h4>
          <p>
            SHUATS<br>
            PRAYAGRAJ, UTTERPRADESH<br>
            India <br><br>
            <strong>Phone:</strong> +91 9973437754<br>
            <strong>Email:</strong> shuatsbroadcast@gmail.com<br>
          </p>

        </div>

        <div class="col-lg-4 col-md-4 footer-info">
          <h3>About Shuats Broadcast</h3>
          <p>This is the new online patform where we can share your thoughts.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; <strong><span>Shuats Broadcast</span></strong>
    </div>

  </div>
</footer><!-- End Footer -->
